{% extends 'main.html' %}
{% block 'body' %}
    {% load staticfiles %}

    {% if is_paginated %}
        <div class="pager">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/place?page={{ page_obj.previous_page_number }}">
                        <img src="{% static 'images/prev.png' %}" class="prev"/>
                    </a>
                {% endif %}
                <span class="page-current" style="float:left;margin">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/place?page={{ page_obj.next_page_number }}">
                        <img src="{% static 'images/next.png' %}" class="next"/>
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <table id="places_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nationality</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places_list %}
                {% cycle 'even' '' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td><a href="/place/{{ place.id }}">{{ place.name }}</a></td>
                    <td>
                        {% if place.ruler %}
                            {{ place.ruler }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        {% if place.place_type %}
                            {{ place.place_type }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}