{% extends 'main.html' %}
{% block 'body' %}
	<div class="smallcol box">
		<h4>Contact Us</h4>
		<p>We really care about what you think! Please don't hesitate to tell us your thoughts about the website in general.</p>
		
		<p>Some things to consider:
			<ul class="consider">
				<li>Ease of use</li>
				<li>Accuracy of search</li>
				<li>Completeness of data</li>
				<li>Fun factor</li>
				<li>Bugs or mistakes</li>
			</ul>
		</p>

		<p>Shoot us an email at <a href="mailto:support@wotdb.com" target="_blank">support@wotdb.com</a>!</p>
	</div>
{% endblock %}