<div class="description">
    <h4 style="margin-left: 15px;">Interview Questions</h4>
    <table id="interview_table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if interviews %}
                {% for interview in interviews %}
                    <tr class="even">
                        <td>
                            <strong>{{ interview.fields.question.0 }}</strong>
                        </td>
                        <td width="150"><a href="/interview/{{ interview.fields.id.0 }}">View Answer</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No interview questions available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>