{% extends 'main.html' %}
{% block 'body' %}
    <div class="character">
        <h1>Chapters in {{ book.title }}</h1>
        <br/>
        <div class="smallcol">
            <div class="box basic">
                <p>Choose a book, then a chapter to discover all the Points of View for that chapter.</p>
            </div>
        </div>
        <div class="bigcol">
            <table id="places_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nationality</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chapter in book.chapters %}
                        {% cycle 'even' '' as rowcolors silent %}
                        <tr class="{{ rowcolors }}">
                            <td>{{ chapter.number }}</td>
                            <td><a href="/chapter/{{ chapter.id }}">{{ chapter.title }}</a></td>
                            <td><a href="/chapter/{{ chapter.id }}">View Characters</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}