{% extends 'main.html' %}
{% block 'body' %}
    {% load staticfiles %}

    {% if is_paginated %}
        <div class="pager">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/pov?page={{ page_obj.previous_page_number }}">
                        <img src="{% static 'images/prev.png' %}" class="prev"/>
                    </a>
                {% endif %}
                <span class="page-current" style="float:left;margin">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/pov?page={{ page_obj.next_page_number }}">
                        <img src="{% static 'images/next.png' %}" class="next"/>
                    </a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <table id="povs_table">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books_list %}
                {% cycle 'even' '' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>{{ book.title }}</td>
                    <td><a href="/book/{{ book.id }}">View Chapters</a></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}