{% extends 'main.html' %}
{% block 'body' %}
    <div class="character">
        <h1>Choose a Book</h1>
        <div class="smallcol">
            <div class="box basic">
                <p>Choose a book, then a chapter to discover all the Points of View for that chapter.</p>
            </div>
        </div>
         <div class="bigcol">
            <table id="povs_table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books_list %}
                        {% cycle 'even' '' as rowcolors silent %}
                        <tr class="{{ rowcolors }}">
                            <td>{{ book.title }}</td>
                            <td><a href="/book/{{ book.id }}">View Chapters</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
{% endblock %}