{% load staticfiles %}

{% if is_paginated %}
    <div class="pager">
        <span class="page-links">
            {% if pov_list.has_previous %}
                <a href="{{ request.path }}?page={{ pov_list.previous_page_number }}">
                    <img src="{% static 'images/prev.png' %}" class="prev"/>
                </a>
            {% endif %}
            <span class="page-current" style="float:left;margin">
                Page {{ pov_list.number }} of {{ pov_list.paginator.num_pages }}
            </span>
            {% if pov_list.has_next %}
                <a href="{{ request.path }}?page={{ pov_list.next_page_number }}">
                    <img src="{% static 'images/next.png' %}" class="next"/>
                </a>
            {% endif %}
        </span>
    </div>
{% endif %}
<table id="povs_table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Ch. #</th>
            <th>Chapter</th>
        </tr>
    </thead>
    <tbody>
        {% if pov_list.object_list %}
            {% for pov in pov_list %}
                {% cycle 'even' '' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>{{ pov.book.title }}</td>
                    <td>{{ pov.chapter.number }}</td>
                    <td>{{ pov.chapter.title }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No POVs available for this character.</td>
            </tr>
        {% endif %}
    </tbody>
    
</table>
